*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-container{
    height: 100vh;
    width: 100vx;
    text-align: center;
}
.todo-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
}
.label-cont{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
    border-left: maroon 5px solid;
    color: rgb(233, 56, 115);
}
.checked{
    text-decoration: line-through wavy whitesmoke;
}